{% include "beat/base.html" %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'beat/form.css' %}">

{% block body %}
{% if updateit %}
<h1 class="title">Edit Album</h1>
{% else %}
<h1 class="title">Add Album</h1>
{% endif %}
<div>
  <form class="f" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for f in form %}
      {{ f.label_tag }} &nbsp; &nbsp;
      {{ f }}
      <br>
      <br>
    {% endfor %}
    {% if updateit %}
      <button type="submit" id="button">Edit Album</button>
    {% else %}
      <button type="submit" id="button">Add Album</button>
    {% endif %}
  </form>
</div>
{% endblock body %}
