{% include "beat/base.html" %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'beat/form.css' %}">

{% block body %}
{% if messages %}
  {% for message in messages %}
    <div class="messageit-s">
      <center>
      <strong>{{ message }}</strong>
    </div>
  {% endfor %}
{% endif %}
<h1 class="title">Edit Profile</h1>
<div>
  <form class="f" action="{% url 'beat:edit-profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for f_u in form_user %}
      {{ f_u.label_tag }} &nbsp; &nbsp;
      {{ f_u }}
      {% if f_u.help_text %}
        <small style="color: grey;">{{ f_u.help_text }}</small>
      {% endif %}
      {% for error in f_u.errors %}
        <br>
        <small style="color: red;">{{ error }}</small>
      {% endfor %}
      <br>
      <br>
    {% endfor %}
    {% for f in form %}
      {{ f.label_tag }} &nbsp; &nbsp;
      {{ f }}
      <br>
      <br>
    {% endfor %}
    <button type="submit" id="button">Edit Profile</button>
  </form>
  <br class="br-c">
  <br class="br-c">
  <br class="br-c">
  <a href="{% url 'beat:change-password' %}" id="cp">Change Password</a>
  <form action="{% url 'beat:delete-user' %}" method="post" id="da-f">
    {% csrf_token %}
    <button type="submit" id="da">Delete Account</button>
  </form>
</div>
{% endblock body %}
